!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
  <%  if( message == "You Signed Up..."){ %>
    <title>Success</title>
<%  }else{ %>
    <title>Failure</title>
  <%  } %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  </head>
  <body>
    <div class="bg-light p-5 rounded-lg m-3">
      <%  if( message == "You Signed Up..."){ %>
        <h1 class="display-4">Congratulations!</h1>
    <%  }else{ %>
      <h1 class="display-4">Uh oh!</h1>
      <%  } %>
       <p class="lead"><%= message %></p>
      <form  action="/message" method="post">
      <button class="btn btn-lg btn-primary" type="submit" name="button">Home</button>
      </form>
     </div>
  </body>
</html>
